:root {
    --md-ref-typeface-brand: Poppins;
    --md-ref-typeface-plain: Poppins;
}

body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-surface);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

.scrolling-bg {
    position: absolute;
    max-width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.scrolling-bg .marquee {
    white-space: nowrap;
    animation: marquee 240s linear infinite;
    max-width: none;
}

.marquee {
    font-size: 64vh;
    font-weight: 400;
    opacity: 0.05;
    user-select: none;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.info-list {
    text-align: left;
}

.content-box {
    position: fixed;
    width: 95vmin;
    height: 75%;
    bottom: 12.5%;
    overflow-y: auto;

    text-align: center;

    background-color: var(--md-sys-color-surface);
    border-radius: 24px;
    border: 1px solid var(--md-sys-color-outline);
    scrollbar-width: thin;
}

#tabs {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
}

.icon-wrapper {
    padding: 4px;
}

.socialbtn {
    font-size: 32px;
}

.sourcebtn {
    padding: 20px;
}

.x-icon {
    fill: var(--md-sys-color-on-surface);
}

.social {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
}

#content {
    padding: 0px 20px 0px 20px;
}