---
import '../styles/fonts.css';
import '../styles/index.css';
import '../styles/lastfm.css';
import '@material/web/typography/md-typescale-styles.css'
import ContentBox from '../components/ContentBox.svelte';
import Social from '../components/Social.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- discord meta tags  -->
		<meta content="mias website" property="og:title" />
		<meta content="so silly! so silly! so silly! :3" property="og:description" />
		<meta content="https://mimi.23347.top" property="og:url" />
		<meta content="#cba6f7" data-react-helmet="true" name="theme-color" />
		<!-- twitter meta tags  -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@miaaaa0a" />
		<meta name="twitter:creator" content="@miaaaa0a" />

		<title>mimi tavern</title>

		<script>
			import '@material/web/all.js';
		</script>
		<link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet">
	</head>
	<body class="dark-mode">
		<div class="scrolling-bg">
			<span class="marquee">mimimimimimimimimimimimi</span>
			<span class="marquee">mimimimimimimimimimimimi</span>
		</div>
		<ContentBox client:load />
		<Social client:load />
		<script src="../scripts/theming.js"></script>
	</body>
</html>
