---
export const partial = true;
---

<p class="md-typescale-display-small">haii!! im mia :3</p>
<p class="md-typescale-body-medium">
	i'm a 15 year old girl from belarus. i do some programming and also some music production (albeit the music i make sounds kind of trash). i like messing around with android roms and also ai. here's some more stuff about me listed in a prettier way:
</p>
<p class="md-typescale-title-large">coding languages</p>
<md-list class="info-list">
	<md-list-item>
		<div slot="headline">python</div>
		<div slot="supporting-text">even though i mention quite often that python sucks, it's still a somewhat good language for scripting and NOTHING more</div>
		<i slot="end" class="nf nf-dev-python"></i>
   	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">javascript</div>
		<div slot="supporting-text">nice language, i like its syntax more than python even though they're both interpreted</div>
		<i slot="end" class="nf nf-dev-javascript_badge"></i>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">c</div>
		<div slot="supporting-text">mmmm. funni low level language</div>
		<i slot="end" class="nf nf-custom-c"></i>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">haxe</div>
		<div slot="supporting-text">fnf coding language except once i wrote a discord bot with this out of boredom</div>
		<i slot="end" class="nf nf-seti-haxe"></i>
	</md-list-item>
</md-list>
<p class="md-typescale-title-large">favourite music artists</p>
<md-list class="info-list">
	<md-list-item>
	    <div slot="headline">100 gecs</div>
		<div slot="supporting-text">gahhhh i love them their music is actually so good... both laura and dylan are really talented people imho</div>
	</md-list-item>
    <md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">Lida</div>
		<div slot="supporting-text">honestly one of the best mainstream russian artists</div>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">конец солнечных дней</div>
		<div slot="supporting-text">might be one of my favourite bands of all time. their music is so GOOD best post-punk group i think</div>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">ПОЛМАТЕРИ</div>
		<div slot="supporting-text">somewhat edgy music but i likey. they fell off tho lmao</div>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">Ворон Клюющий Глаза Детей</div>
		<div slot="supporting-text">who doesnt love an obscure band from 2008. basically just russian mindless self indulgence with more chaotic beats and edgier lyrics. still love em tho</div>
	</md-list-item>
</md-list>
<p class="md-typescale-title-large">pc specs</p>
<md-list class="info-list">
	<md-list-item>
		<div slot="headline">CPU</div>
		<div slot="supporting-text">AMD Ryzen 3 PRO 3200G</div>
		<i slot="end" class="nf nf-oct-cpu"></i>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">GPU</div>
		<div slot="supporting-text">ASRock Radeon RX 580</div>
		<i slot="end" class="nf nf-fa-picture_o"></i>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">RAM</div>
		<div slot="supporting-text">x2 8 GB 2133 mHz sticks</div>
		<i slot="end" class="nf nf-fae-chip"></i>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">Motherboard</div>
		<div slot="supporting-text">Gigabyte GA-A320M-H</div>
		<i slot="end" class="nf nf-cod-circuit_board"></i>
	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">Storage</div>
		<div slot="supporting-text">Apacer AS350 240GB<br>TOSHIBA MQ04ABF100 (1 TB)</div>
		<i slot="end" class="nf nf-fa-hdd_o"></i>
	</md-list-item>
</md-list>