---
export const partials = true;
---

<p class="md-typescale-title-large">stuff used for this website</p>
<md-list class="info-list">
    <md-list-item>
		<div slot="headline">Astro</div>
		<div slot="supporting-text">cool web framework. first time working with one, i likey</div>
		<i slot="end" class="nf nf-custom-astro"></i>
   	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item>
		<div slot="headline">Vercel</div>
		<div slot="supporting-text">thing thats running the webserver</div>
		<i slot="end" class="nf nf-md-triangle"></i>
   	</md-list-item>
	<md-divider inset></md-divider>
    <md-list-item>
		<div slot="headline">Material 3 Web</div>
		<div slot="supporting-text">i totally did not use this as an excuse to not make my own design for this website</div>
		<i slot="end" class="nf nf-md-material_design"></i>
   	</md-list-item>
	<md-divider inset></md-divider>
    <md-list-item>
		<div slot="headline">jQuery</div>
		<div slot="supporting-text">nifty js lib</div>
		<i slot="end" class="nf nf-dev-jquery"></i>
   	</md-list-item>
	<md-divider inset></md-divider>
    <md-list-item>
		<div slot="headline">Nerd Fonts</div>
		<div slot="supporting-text">provider for cool icons that you see almost everywhere here</div>
		<i slot="end" class="nf nf-seti-font"></i>
   	</md-list-item>
</md-list>
<p class="md-typescale-title-large">cool people</p>
<md-list class="info-list">
    <md-list-item type="link" href="https://github.com/sudocode1" target="_blank">
		<div slot="headline">Roux "sudocode1"</div>
		<div slot="supporting-text">ty for giving me the domain g...</div>
   	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item type="link" href="https://github.com/Leandro-170" target="_blank">
		<div slot="headline">Lea "Leandro170"</div>
		<div slot="supporting-text">dumb creature</div>
	</md-list-item>
	<md-divider inset></md-divider>
    <md-list-item type="link" href="https://vendicated.dev" target="_blank">
		<div slot="headline">Vee "vendicated"</div>
		<div slot="supporting-text">told me about astro and also helped me with the website. also dev of vencord :3</div>
   	</md-list-item>
	<md-divider inset></md-divider>
	<md-list-item type="link" href="https://sapphic.moe" target="_blank">
		<div slot="headline">Chloe "sapphic.moe"</div>
		<div slot="supporting-text">made the awesom simple-fm library used on the last.fm page!!!</div>
   	</md-list-item>
</md-list>