---
export const partial = true;
---

<div class="lastfm">
    <div class="player">
        <img src="https://files.catbox.moe/tv7080.gif" class="spinnycd">
        <p class="songtitle">Exampler</p>
        <p class="songartist">The Examples</p>
        <a class="lastfmprofile" href="https://www.last.fm/user/redoverflow">my <span style="color: rgb(213, 16, 7);">last.fm</span> profile</a>
        <p class="nowplayingdate">scrobbled on apr 20th, 2025</p>
    </div>
    <div class="latestscrobbles">
        <div class="scrobble">
            <div class="scrobbleleft">
                <img src="https://files.catbox.moe/tv7080.gif" class="scrobblecover">
                <p class="scrobbleartist">The Examples</p>
                <p class="scrobbletitle">Exampler Pt.2</p>
            </div>
            <div class="scrobbleright">
                <p class="scrobbledate">apr 20th, 2025</p>
            </div>
        </div>
    </div>
</div>